!.gitignore

bin/
.vs/
lib32/
lib64/
Debug/
Debugx64/
Release/
Releasex64/
x64/
x32/
external/*

!external/UltimateGrid
external/UltimateGrid/*
!external/UltimateGrid/CMakeLists.txt

!external/MTParser
external/MTParser/*
!external/MTParser/CMakeLists.txt

!external/KMeanLocal
external/KMeanLocal/*
!external/KMeanLocal/CMakeLists.txt

!external/hxGrid
external/hxGrid/*
!external/hxGrid/CMakeLists.txt

!external/Newmat
external/Newmat/*
!external/Newmat/CMakeLists.txt

*.vcxproj.user
/build
